# Copy this file to .env.local and set your project's ID from the Orvano console.
# #region settings
NEXT_PUBLIC_ORVANO_ENDPOINT=http://localhost:7700
NEXT_PUBLIC_ORVANO_PROJECT=your-project-id
# #endregion settings
