# Copy this file to .env.local and set your project's ID from the Orvano console.
# #region settings
VITE_ORVANO_ENDPOINT=http://localhost:7700
VITE_ORVANO_PROJECT=your-project-id
# #endregion settings
